html,body{
    margin: 0px;
    padding: 0px;
}
div{
    display: flex;
    position relative;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: block;
    color:#000;
}

.min-width{
    min-width 1000px
}

img{
    width 100%
}